
#loginbtn
{
   margin-top: 20px;
}

.carousel-item img {
   max-height: 500px;
   object-fit: cover;
   width: 100%;
 }

.custom-hr {
   border: none;
   height: 4px;
   border-radius: 5px;
   background: linear-gradient(to right, #ffc107, #fd7e14);
   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
   margin: 3rem 0;
 }
